1. Развернуть у себя на компьютере/виртуальной машине/хостинге MongoDB и реализовать функцию, которая будет добавлять только новые вакансии/продукты в вашу базу.
2. Написать функцию, которая производит поиск и выводит на экран вакансии с заработной платой больше введённой суммы (необходимо анализировать оба поля зарплаты). Для тех, кто выполнил задание с Росконтролем - напишите запрос для поиска продуктов с рейтингом не ниже введенного или качеством не ниже введенного (то есть цифра вводится одна, а запрос проверяет оба поля).

In [ ]:
# ! sudo docker run -d -p 27017:27017 --name m1 mongo

In [33]:
import pymongo
client = pymongo.MongoClient("mongodb://localhost:27017/")

In [34]:
db = client['vacanciesdb']

In [35]:
vacancies = db['vacancies']

In [36]:
vacancies_list = [
    {'name': 'SQL', 'min_salary': 100, 'max_salary':150},
    {'name': 'Python', 'min_salary': 150, 'max_salary':200},
    {'name': 'C', 'min_salary': 250, 'max_salary':300}
]

vacancies.insert_many(vacancies_list)

In [37]:
for x in vacancies.find():
    print(x)

{'_id': ObjectId('63f7544b2cc11aff374889d4'), 'name': 'SQL', 'min_salary': 100, 'max_salary': 150}
{'_id': ObjectId('63f7544b2cc11aff374889d5'), 'name': 'Python', 'min_salary': 150, 'max_salary': 200}
{'_id': ObjectId('63f7544b2cc11aff374889d6'), 'name': 'C', 'min_salary': 250, 'max_salary': 300}

In [38]:
def add_new_vacancy(column, name, min_salary, max_salary):
    for x in column.find({},{'_id': 0, 'name': 1}):
        if name == x['name']:
            print('Vacancy is already in database')
            return False
    vacancies.insert_one({'name': name, 'min_salary': min_salary, 'max_salary': max_salary})
    return True

In [39]:
print(add_new_vacancy(vacancies, 'SQL', 400, 450))
print(add_new_vacancy(vacancies, 'RnD', 400, 450))

Vacancy is already in database
False
True

In [40]:
for x in vacancies.find():
    print(x)

{'_id': ObjectId('63f7544b2cc11aff374889d4'), 'name': 'SQL', 'min_salary': 100, 'max_salary': 150}
{'_id': ObjectId('63f7544b2cc11aff374889d5'), 'name': 'Python', 'min_salary': 150, 'max_salary': 200}
{'_id': ObjectId('63f7544b2cc11aff374889d6'), 'name': 'C', 'min_salary': 250, 'max_salary': 300}
{'_id': ObjectId('63f754502cc11aff374889d7'), 'name': 'RnD', 'min_salary': 400, 'max_salary': 450}

In [32]:
# client.drop_database('vacanciesdb')